<!DOCTYPE html>
<html>
  <head>
    <title>McDonalds Across the United States</title>
    <style>
      #svg {
      border: 2px solid black;
      }
    </style>
  </head>

  <body>
    <h1>McDonalds Across the United States</h1>
    <br>
    <button id="Income" type="button">Income</button>
    <button id="Obesity" type="button">Obesity</button>
    <button id="Density" type="density">Population Density</button>
    <br>
    <p> Hover over a circle to display more data </p>
    <br>
    
    <form action="/map">
      <button type="submit">McDonald's Density Map</button>
    </form>

    <br><br>
    
    <form action="/wfmap">
      <button type="submit">Whole Foods Density Map</button>
    </form>

    <br><br>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      var data = {{data|tojson}}
      var incomes = {{incomes|tojson}}
      var obese = {{obese|tojson}}
    </script>
    <script  src="static/home.js"> </script>
    <link rel="stylesheet" href="../static/home.css">
  </body>
  
</html>
